<section id = "footer-a">
	<b>Location:</b> Hunter College Frederick Loewe Theatre
					<br>
				68th Street and Lexington Avenue
				New York, NY 10065
	<ul class = "social-media">
		<li>
			<a href = "https://www.facebook.com/HunterCollegeTheatreDepartment/">
				<img alt = "facebook link" src = "images/facebook-icon.png">
			</a>
		</li>
		<li>
			<a href = "https://twitter.com/hunter_college?lang=en">
				<img alt = "twitter link" src = "images/twitter-icon.png">
			</a>
		</li>
		<li>
			<a href = "https://www.youtube.com/user/HunterCollege">
				<img alt = "youtube link" src = "images/youtube-icon.png">
			</a>
		</li>
	</ul>
</section>
<section id = "footer-b">
	<p>This theatrical production is NOT real. All photographs and images are property of their respective owners.</p>

	<span>Javier Minchala |</span>
	<span><a href = "https://github.com/AntigonePlay">Github</a></span>
</section>
