<nav id = "main-navigation">
	<ul>
		<li>
			<a href="analysis.html">Analysis</a>
		</li>
		<li>
			<a href="crew.html">Cast/Crew</a>
		</li>
		<li>
			<a href="related.html">Related Works</a>
		</li>
	</ul>
</nav>

{{#if hasBackground }}
<section id='hero-top' class = "{{ backgroundClass }}">
{{else}}
<section id = 'hero-top'>
{{/if}}
	<nav>
		<h1>
			<a href="index.html">Antigone: A Theatre Experience</a>
		</h1>
		<a href="about.html">About</a>
		<a href="tickets.html">Tickets</a>
	</nav>
</section>